body{
	padding:0px;
	margin:0;
	
}
.heightNav{
	height:150px;
	background-image:url('../images/background.jpg');
	border:solid 2px white;

}

.navSpaceTop{
	margin-top:150px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    margin-top:100px;

}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.jumbotron{
	background-image:url('../images/background.jpg');
	height:530px;
}
#myCanvas{
	margin-left:400px;
	background-color:green;
	
}

.txtSpaceJumbo{
	margin-left:300px;
}

.ColorChanger{
	background-color:gray;
}

#wrapper{

}
.infodiv{
	margin-top:0px;
}
.infoVideoHolder{
     height:300px;

}
#myCanvas{
	margin-left:0px;
	background-color:green;
	width:600px;
	height:400px;
	margin-left:300px;
    }

 .PentestBtnHolder{
 	height:100px;
 	background-color:#E0F5FF;
 }

 #PenButton{
 	height: 50px;
    width: 350px;
    background-color:#FF0000; 
    border: 1px solid #000;
    border-radius: 24px;
    color:white;
   
 }
footer{
/* position: absolute;*/
 display:block;
 height:100px;
 background-color: #f5f5f5;
 bottom:0px;
 width:100%;
 padding:0px;
 margin-left:0px;
}

/* media queries have to be add for different widths */
@media screen and (max-width: 960px) {
    #myCanvas{
	margin-left:0px;
	background-color:green;
	width:400px;
	
    }
    .txtSpaceJumbo{
	 margin-left:0px;
    
    }
}

@media screen and (max-width: 432px) {
    #myCanvas{
	width:200;
	margin-left:0px;
	background-color:green;
    }

	}


/* style for contact just testing with this style for now then link the contact page to its stlyesheet */
body{
	background-color:#F5F5F5;
} 

.centre{
	text-align: center;
}